* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    margin-top: 50px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-variant-caps: all-petite-caps;
    min-height: 100vh;
    color: #333;
	background-color: #dde1e7;
}
#count-el {
    font-size: 35px;
}
button {
    margin: 40px 10px 0;
    height: 70px;
	width: 70px;
    border: none;
	background-color: #dde1e7;
    border-radius: 50%;
    font-size: 27px;
    font-weight: 300;
    font-variant-caps: all-petite-caps;
	cursor: pointer;
    }
.btn {
    color: #99a1ad;
    box-shadow: inset -3px -3px 7px #fff,
	            inset 3px 3px 5px #5e6879;
}
.btn-active {
    color: #333;
    box-shadow: -3px -3px 7px #fff,
	            3px 3px 5px #5e6879;
}
#save-btn, #reset-btn {
    font-size: 15px;
    font-weight: 600;
}
p {
    margin-top: 30px;
    padding: 10px;
    font-size: 23px;
}
#save-el {
    display: block;
    margin-top: 0;
}
